@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
  --background: #FFF3E4;
  --heading-font: 'Syne', sans-serif;
}

body {
  color: var(--foreground);
  background-color: var(--background);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
}

@layer components{
  .section-title {
    @apply text-[32px] leading-[48px] mb-[80px];
  }
}
